/*主体*/
#zhuti{
	width:100%;
	padding:20px 0px;
	margin-top: 20px;
}
#zhuti .row .col-md-10>p{
	line-height: 35px;
	border-bottom: 1px solid #e7e7e7;
}
#zhuti h3{
	color:gray;
	line-height: 50px;
	border-bottom: 1px solid #e7e7e7;
}
#zhuti p{
	margin:10px 0px;
}
/*底部*/
footer{
	text-align: center;
}